<% layout('layout/temp') -%>
    


    <div class="row">
        <div class="col-8 offset-2">
            <h2>Create an Account</h2>
          <form method="post" action="/signup" class="needs-validation" novalidate>
            <div class="mb-1">
                <label for="yourname" class="form-label">Name</label>
                <input type="text" name="yourname" id="yournmae" class="form-control" required>
            </div>
            <div class="mb-1">
                <label for="dob" class="form-label">Date of birth</label>
                <input type="date" name="dob" id="dob" class="form-control" required>
            </div>
            <div class="mb-1">
                <label for="phone" class="form-label">Phone Number</label>
                <small>Format: 10-digit number</small>
                <input type="tel" name="phone" id="phone" class="form-control" pattern="[0-9]{10}" required>
                
            </div>
        
            <div class="mb-1">
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" id="email" class="form-control" required>
                <div class="valid-feedback">
                    Looks good!
            </div>
             <div class="mb-1">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" id="username" class="form-control" required>
            </div>
            
             <div class="mb-1">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" id="password" class="form-control" required>
        </div>
        <br>
        <button class="btn btn-success">Submit</button>
        </form>
        </div>
    </div>