<footer>
    <div class="social-media">
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
    </div>
    <div>wonderlust&#174 Pvt. Ltd.</div>
    <div class="imp-links">
        <a href="#">terms</a>
        <a href="#">privacy policy</a>

    </div>
</footer>