<div class="filters mb-2">
        <a href="/listings/filter/Mountain-City">
            <div class="filter">
                <i class="fa-solid fa-mountain-city"></i>
                <p>Mountain-City</p>
            </div>
        </a>
        <a href="/listings/filter/Yurts">
        <div class="filter">
            <i class="fa-solid fa-ship"></i>
            <p>Yurts</p>
        </div>
        </a>
        <a href="/listings/filter/swimming-pool">
        <div class="filter">
            <i class="fa-solid fa-person-swimming"></i>
            <p>swimming-pool</p>
        </div>
        <a href="/listings/filter/iconic-City">
        <div class="filter">
            <i class="fa-solid fa-city"></i>
            <p>iconic-City</p>
        </div>
        </a>
        <a href="/listings/filter/Hotels">
        <div class="filter">
            <i class="fa-solid fa-hotel"></i>
            <p>Hotels</p>
        </div>
        </a>
        <a href="/listings/filter/Snow-Cave">
        <div class="filter">
            <i class="fa-solid fa-landmark-dome"></i>
            <p>Snow-Cave</p>
        </div>
        </a>
        <a href="/listings/filter/snow-City">
        <div class="filter">
            <i class="fa-solid fa-wind"></i>
            <p>snow-City</p>
        </div>
        </a>
        <a href="/listings/filter/camping">
        <div class="filter">
           <i class="fa-solid fa-tree"></i>
            <p>camping</p>
        </div>
        </a>
        <a href="/listings/filter/Adventure">
        <div class="filter">
            <i class="fa-solid fa-parachute-box"></i>
            <p>Adventure</p>
        </div>
       </a>
        <div class="form-check-reverse form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
        <label class="form-check-label" for="switchCheckDefault">Display after Taxes</label>
        </div>
    </div>